pipeline/kanri_point_test.json
{
	"name": "kanri_point_test",
	"properties": {
		"description": "管理ポイントのテスト\nAzureストレージにあるエクセルファイルを開き、マージしてから別のディレクトリに保存する",
		"activities": [
			{
				"name": "GetFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "kanripointInputBinaryFolder",
						"type": "DatasetReference",
						"parameters": {
							"dir": {
								"value": "@pipeline().parameters.SrcDir",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterXlsxFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterXlsxKanriPoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterXlsxKanriPoint').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "GetMetadataOfChildFiles",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "kanripointInput1",
									"type": "DatasetReference"
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "MoveFile",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetMetadataOfChildFiles",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "kanripointInputBinaryFolder",
									"type": "DatasetReference",
									"parameters": {
										"dir": {
											"value": "@pipeline().parameters.TgtDir",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "kanripointOutputBinary",
									"type": "DatasetReference",
									"parameters": {
										"dir": {
											"value": "@Concat(\n    pipeline().parameters.TgtDir\n    ,'/'\n    ,pipeline().parameters.IngestDateColumnName\n    ,'='\n    ,formatDateTime(\n        activity('GetMetadataOfChildFiles').output.lastModified\n        , 'yyyy-MM-dd'\n    )\n    ,'/',pipeline().parameters.IngestTimestampColumnName,\n    '='\n    ,formatDateTime(\n        activity('GetMetadataOfChildFiles').output.lastModified\n        ,'yyyy-MM-dd HH'\n    ),\n    '%3A'\n    ,formatDateTime(\n        activity('GetMetadataOfChildFiles').output.lastModified\n        ,'mm'\n    ),\n    '%3A'\n    ,formatDateTime(\n        activity('GetMetadataOfChildFiles').output.lastModified\n        ,'ss'\n    )\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "FilterXlsxKanriPoint",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "FilterXlsxFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterXlsxFiles').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(startswith(item().name,pipeline().parameters.StartName),endswith(item().name,pipeline().parameters.EndName))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FilterXlsxKanriPoint_copy1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "FilterXlsxFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterXlsxFiles').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(\n     or(\n        startswith(item().name,pipeline().parameters.StartName),\n        equals(pipeline().parameters.StartName,'*')\n     ),\n     or(\n        endswith(item().name,pipeline().parameters.EndName),\n        equals(pipeline().parameters.EndName,'*')\n     ))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"StartName": {
				"type": "string",
				"defaultValue": "*"
			},
			"EndName": {
				"type": "string",
				"defaultValue": ".xlsx"
			},
			"SrcConatiner": {
				"type": "string",
				"defaultValue": "adfv2tutorial"
			},
			"TgtDir": {
				"type": "string",
				"defaultValue": "kanri_point_test_output"
			},
			"IngestDateColumnName": {
				"type": "string",
				"defaultValue": "audit__ingest_date"
			},
			"IngestTimestampColumnName": {
				"type": "string",
				"defaultValue": "audit__ingest_timestamp"
			},
			"SrcDir": {
				"type": "string",
				"defaultValue": "管理ポイントsample_input"
			}
		},
		"folder": {
			"name": "Oishi_PipeLine"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-01T10:27:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}